// Layout
$spacing-unit: 4px;
$sidebar-width: 240px;
$sidebar-collapsed-width: 80px;
$MASTER_SIDEBAR_DRAWER_WIDTH: 300;

// Colors
$primary: #006c69;
$primary-hover: #378b89;
$secondary: #2646f3;
$secondary-hover: #7489f7;
$info: #0d6efd;
$error: #dc3545;
$success: #198738;
$warning: #ffd600;
$text-primary: #008285;
$text-secondary: #6a7775;
$text-disabled: #757575;
$text-default: #333333;
$heading-default: #000000;
$icon-default: #424242;
$nexify-brand-main: #4BC2BE;


